html, body{
    margin: 0;
    padding: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

h1, h2{
    color:#ff6b28;
}

h1{
    padding: 40px 0px;
}

a{
    text-decoration: none;
}

p{
    line-height: 28px;
}

.top_bar{
    background-color: #ff6b28;
    text-align: center;
    padding: 10px;
}

.header{
    height: 400px;
    background-image: url(../images/hero_bolo.jpg);
    background-size: cover;
    background-position: center; 
}

.container{
    width: 1000px;
    margin: auto;
    padding: 0px 40px;
    /*Esse padding faz com que em telas menores o contéudo da página não fique colodo com o canto da aba,
    deixando mais agradável*/
}

.content{
    padding: 30px 60px;
    border-radius: 15px;
    margin: 50px 0px;
}

.content:hover{
    box-shadow: 3px 5px 15px 3px rgba(0, 0, 0, 0.089);
}

.list_item{
    margin: 10px 0px;
}

.button{
    background-color: #ff6b28;
    color: white;
    width: 160px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    border: #ff6b28 3px solid;
}

.button:active{
    background-color: white;
    color: #ff6b28;
}

.footer{
    background-color: #ff6b28;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 20px;
}

.footer>a{
    color: white;
}

.footer>a:hover{
    text-decoration: underline;
}

.ingredients{
    cursor: url(../images/cursor_ingredientes.png), auto;
}

.preparation{
    cursor: url(../images/cursor_preparo.png), auto;
}

.instructions{
    cursor: url(../images/cursor_intrucoes.png), auto;
}